<p id="notice"><%= notice %></p>
<h1 class="heading">Competitions</h1>

<div class="comp-container">
  <% @competitions.each do |competition| %>
    <div class="comp-logo-name"
    <%= link_to image_tag(competition.logo, size: "80x80"), competition, class:"comp-competition" %>
      <%= link_to competition.name, competition, class:"comp-competition-name" %>
    </div>

  <% end %>
    </div>
    <%= link_to 'New Competition', new_competition_path %>