<p id="notice"><%= notice %></p>

<h1>Competitions</h1>

<table>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= link_to image_tag(competition.logo, size: "30x30"), competition %></td>
        <td><%= link_to competition.name, competition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition', new_competition_path %>
