<footer class="footer">
    <div class="love">Made with ❤️ by the <a href="https://hoopsfixfoundation.org" target="_blank">Hoopsfix Foundation</a></div>
    
      <ul class="footer-nav">
      <li><%= link_to 'About', about_path, class:"nav-link-footer" %></li>
      <li><%= link_to 'Competitions', competitions_path, class:"nav-link-footer" %></li>
      <li><%= link_to 'teams', teams_path, class:"nav-link-footer" %></li>
      <li><%= link_to 'Archive', archive_path, class:"nav-link-footer" %></li>
    </ul>
</footer>




