<% set_meta_tags title: 'About Hoopsfix Live', description: 'Hoopsfix Live was created in 2021 as a project of the Hoopsfix Foundation, it is a directory of basketball live streams.' %>

<h1 class="heading">About</h1>
<p>Hoopsfix Live was created in 2021 as a project of the Hoopsfix Foundation, whose mission is to grow and raise the
profile of basketball in the United Kingdom.</p>

Contributors: TBC