<% set_meta_tags title: 'About Hoopsfix Live', description: 'Hoopsfix Live was created in 2021 as a project of the Hoopsfix Foundation, it is a directory of basketball live streams.' %>

<h1 class="heading">About</h1>
<p>Hoopsfix Live began being built in 2021 as a project of the Hoopsfix Foundation, whose mission is to grow and raise the
profile of basketball in the United Kingdom.</p>
<br>
<p>With British basketball being fairly disjointed, there was no single place to go to and find all of the live
streams happening across all levels of British basketball each weekend. Hoopsfix Live serves to solve that problem,
allowing any team that streams their games to submit their links to the directory, and giving fans a central destination
to find all streams.</p>
<br>
<p>It was a project to help Foundation Executive Director Sam Neter learn to code. By streaming his attempts to
build every day on Twitch, various other contributors jumped on board to help to being a working, functional app.</p>
<br>
<p>It is open source, with the code available to <a href="https://github.com/samneter/HoopsfixLive" target="_blank">view on Github</a>. If you are interested in contributing, please contact
Sam - @samneter.</p>
<br>
<h2>Contributors:</h2>
<br>
<b>Sam Neter | <a href="https://www.twitter.com/samneter" target="_blank">@samneter</a></b><br>
(project lead, poor attempts at backend & frontend)<br>

<b>Roberto Ruiz | <a href="https://github.com/artificemm" target="_blank">Artifice</a></b><br>
(backend, Ruby on Rails)<br>
<b>Chris Morgan | <a href="https://www.twitter.com/chris_guym" target="_blank">@chris_guym</a></b><br>
(frontend, html, css)<br>
<b>Zack Rosen | <a href="https://github.com/zjrosen1" target="_blank">Zjrozen1</a></b><br>
(frontend, javascript)<br>
<b>Serge Bilyk | <a href="https://github.com/Vagab" target="_blank">Vagab</a></b><br>
(backend, Ruby on Rails) <br>
<b>James Piper | <a href="https://www.instagram.com/jamespiper.psd/" target="_blank">@jamespiper.psd</a></b></br>
(design, competition logos)<br>
<br>
<p>Also huge thanks to everyone who has given their opinion and feedback in the Hoopsfix Foundation Discord Server development channel.</p>
