<% set_meta_tags title: 'Submit your British basketball live stream', description: 'Submit a live stream of your British basketball game to Hoopsfix Live' %>

<h1 class="form-h1">New Stream</h1>

<%= render 'form', game: @game %>

