// Place all the styles related to the Competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comp-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}

.comp-logo-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-competition {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.competition-functions {
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: x-small;
  padding: 15px;
  justify-content: space-evenly;
}

.comp-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 50px;
  text-align: center;
}

.comp-info h1,
.comp-info .comp-links {
  text-align: left;
}

.comp-info .comp-logo {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-info .comp-controls {
  padding: 20px 0;
}

.comp-info .comp-clubs {
  grid-column: 1/3;
  padding: 20px 5px;
}

.comp-info .comp-clubs .comp-clubs-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.comp-info .comp-clubs .comp-clubs-logos img {
  margin: 0 10px;
}

.comp-socials {
  padding: 15px 0;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .comp-info {
    grid-template-columns: repeat(1, 1fr);
  }

  .comp-info .comp-logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .comp-info .comp-clubs {
    grid-column: 1/2;
  }

  .comp-info h1,
  .comp-info .comp-links {
    text-align: center;
  }
}