// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.game-details {
  text-align: left;
}

.game-show {
  width: 100%;
  height: 200px;
  margin: 25px auto;

  .game-show-body {
    display: grid;
    grid-template-columns: 400px 150px 400px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .game-show-body::before {
    content: '';
    position: absolute;
    height: 15px;
    top: 35px;
    left: 80px;
    right: 80px;
    background-color: #000;
  }

  .game-show-home-team,
  .game-show-away-team {
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
  }

  .game-show-home-team {
    justify-content: flex-end;
  }

  .game-show-away-team {
    justify-content: flex-start;
  }

  .game-show-team-logo,
  .game-show-team-logo img{
    width: 65px;
    height: 65px;
  }

  .game-show-team-name {
    flex-grow: 1;
    font-size: 20px;
    text-transform: uppercase;
  }

  .game-show-comp {
    background: #9D3D3D;
    height: 200px;
    display: grid;
    grid-template-rows: 30px 130px 40px;
    align-items: center;
    color: #fff;
    z-index: 999;
  }

  .game-show-comp img {
    width: 50px;
  }

  .game-show-date,
  .game-show-time {
    background-color: #842D2D;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game-show-date {
    font-size: 12px;
  }

  .game-show-time {
    font-size: 22px;
  }

  .game-show-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #842d2d;
    margin: 10px 0;
  }

  .game-show-link__stream,
  .game-show-link__follow {
    margin: 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .game-show-link__stream i,
  .game-show-link__follow i {
    margin: 0 5px;
  }

  .game-show-controls {
    margin-top: 25px;
  }
}

.background-player {
  position: relative;
}

.background-player,
.background-player img {
  width: 100%;
  position: relative;
}

.background-player::after {
  content: '';
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.home-team-logo-player,
.away-team-logo-player {
  position: absolute;
  top: 50%;
  z-index: 999;
}

.home-team-logo-player {
  left: 10%;
}

.away-team-logo-player {
  right: 10%;
}

.home-team-logo-player,
.away-team-logo-player,
.home-team-logo-player img,
.away-team-logo-player img{
  height: 100px;
  transform: translateY(-25%);
}
