// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Import Goopgle font Montserrat for the body */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");


/* Off white bg and grey text throughout */


/* Remove default styling on links */
a,
a:active,
a:visited {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

/* Main container for the section. Max width for responsivity, centred on the page} */


/* Add paddng before and after the date heading */
.comp-date {
  margin: 50px 0;
}

/* Create a grid for stream items. Three columns even width that
wrap on the page when using different devices */
.stream-info {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

/* Make responsive, reduce stream item list to 1 column when on small screens <1000px */
@media screen and (max-width: 1000px) {
  .stream-info {
    grid-template-columns: 1fr;
  }
}

/* Individual stream information item. Displayed as grid as well.
Slight border radius. Fixed height. Slight shadow to add depth
3 column, 2 row grid */
.stream-item {
  position: relative;
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 2fr 1fr;
  grid-gap: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px 2px 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 12px;
}

/* Play button
add hover gradient effect */
.live {
  position: relative;
  background: red;
  border: none;
  border-radius: 10px 2px 2px 10px;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  max-width: 60px;
  height: 100%;
  color: #fff;
  font-size: 42px;
  align-items: center;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, red 50%, green 50%);
  -webkit-transition: background-position 0.8s;
  -moz-transition: background-position 0.8s;
  transition: background-position 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Hover effects for play button */
.live:hover {
  cursor: pointer;
  background-position: -100% 0;
}

a.live i,
a.live:active i,
a.live:visited i {
  color: white;

}

/* Team info, 3 column grid */
.teams {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
}

/* Add padding to individual team info */
.home-team,
.away-team {
  padding: 10px;
}

/* Away team info div styles. 2 column 2 row grid */
.away-team {
  display: grid;
  grid-column: 3/4;
  grid-template-columns: auto auto;
}

/* Home team info div styles. 2 column 2 row grid */
.home-team {
  display: grid;
  grid-column: 1/2;
  grid-template-columns: auto auto;
}

/* Hover styles for team links */
.home-team:hover,
.away-team:hover {
  // background-color: #ededed;
  cursor: pointer;
  font-weight: 700;
}

/* Team logo styles, occupies both rows of team info grid */
.home-team img,
.away-team img {
  width: 100%;
  min-width: 40px;
  max-width: 70px;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  transition: ease 1s;
}

/* Place away team logo to right of text */
.away-team img {
  grid-column: 2/3;
}

/* Place home team logo to left of text */
.home-team img {
  grid-column: 1/2;
  align-items: center;
}

/* Set font size of all team text */
.home-team p,
.away-team p {
  font-weight: 500;
  align-self: center;
  padding: 0 10px;
  text-transform: uppercase;
}

/* Align away team text to right */
.away-team p {
  font-size: 100%;
  grid-row: 1/2;
}

/* Align home team text to left */
.home-team p {
  font-size: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}

/* Set second part of team name to bold */
/*.home-team p.name-team,
.away-team p.name-team {
  font-weight: 700;
  align-self: start;
}*/

/* Align first part of team name to baseline */
.home-team p.name-city,
.away-team p.name-city {
  text-align: center;
  font-size: 100%;
}

  .home-team p.name-city.abr,
  .away-team p.name-city.abr {
    display: none;
  }

@media screen and (max-width: 414px) {
  .home-team p.name-city.full,
  .away-team p.name-city.full {
    display: none;
  }

  .home-team p.name-city.abr,
  .away-team p.name-city.abr {
    display: block;
  }
}

/* Occupy bottom row of item and span the width
top border grey */
.fixture-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
  border-top: 1px solid rgba(207, 207, 207, 0.5);
}

.fixture-details > .live-marker {
  justify-self: end;
  grid-column: 3/4;
  grid-row: 1/2;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 5px;
  animation: blink 1.8s linear infinite;
}

/* Blink animation */
@keyframes blink {
  50% {
    opacity: 0.2;
  }
}

/* Hide live icon. Can run function to remove the hidden class when tip time arrives */
.fixture-details > .live-marker.hidden {
  visibility: hidden;
}

/* Increase font size of tip off time */
.time {
  font-size: 18px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.competition {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Set the size of the comp image */
.competition a img {
  width: 30px;
}

p {
  margin: 0
}