// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.heading {
  text-align: center;
}

.streams-table {
  display: grid;
  width: 500px;
  margin: 0 auto;
  grid-gap: 0px;
  align-items: center;
  grid-template-columns: auto 280px auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  grid-template-areas:
  "CompLogo CompLogo CompLogo"
  "TipTime TipTime TipTime"
  "HomeLogo link AwayLogo"
;
}

.competition-logo {
  grid-area: CompLogo;
  justify-self: center;
}

.tip-off {
  grid-area: TipTime;
}

.home-club-logo {
  grid-area: HomeLogo;
  padding: 0px;
}

.away-club-logo {
  grid-area: AwayLogo;

}

.game-link {
  grid-area: link;
}
