// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.heading {
  text-align: center;
}

.streams-table {
  display: grid;
  grid-gap: 20px;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 80px 80px;
  justify-content: space-evenly;
}

.competition-logo {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-items: center;
}

.home-club-logo {

}

.away-club-logo {

}

.game-link {

}

.tip-off {
  grid-column: 3 / span 3;
}

.live-stats {

}