// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.heading {
  text-align: center;
}

.streams-table {
  display: grid;
  grid-gap: 20px;
  align-content: center;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (4, 80px);
  justify-items: center;
  grid-template-areas:
  "CompLogo CompLogo CompLogo"
  "HomeLogo link AwayLogo"
  "TipTime TipTime TipTime"
  "StatsLink StatsLink StatsLink"
;
}

.competition-logo {
  grid-area: CompLogo;
  justify-self: center;
}

.home-club-logo {
  grid-area: HomeLogo;
}

.away-club-logo {
  grid-area: AwayLogo;

}

.game-link {
  grid-area: link;
}

.tip-off {
  grid-area: TipTime;
}

.live-stats {
  grid-area: StatsLink;
}