<% content_for :meta_title, 'British Basketball Live Stream Archive' %>
<% content_for :meta_description, 'Archive of British basketball live streams' %>



<h1 class='heading'><%= 'British Basketball Live Stream Archive' %></h1>
<%= render "shared/past_streams", { past_streams: @past_games} %>